# vim: set ts=2 tw=78 noexpandtab :
# SPDX-License-Identifier: FSFAP

##############################################################################
#
# Copyright (c) 2022 Jeffrey H. Johnson
#
# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided the copyright
# notice and this notice are preserved.  This file is offered "AS-IS",
# without any warranty.
#
##############################################################################

a.out
core
isnewer.o
isnewer
isnewer.exe
isnewer.core
*~
*.bak
